h2{
    color:blue;
    text-align:center;
}
.label{
    color:yellow;
    background: black;
}
p.blue{
    color:blue;
    font-size: 50pt;
    margin-left: 20px;
}
body{
    background-image: url("Jinx-Classic.jpg");   
    background-size:100%; 
}
p.lowercase{
    text-transform:lowercase;
}
p.uppercase{
    text-transform:uppercase;
    text-indent:50px;
    font-family:"Arial Black","";
}
p.capitalize{
    text-transform:capitalize;
}
